.Header {
  height: 70px;
  background-color: #1a242f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all_links {
  /* border: 2px solid #fff; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 40px;
}
.logo {
  margin-top: 5px;
  max-width: 110px;
}
.links {
  text-decoration: none;
  padding: 3px 9px;
  margin-right: 30px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.login_btn {
  margin-right: 3em;
  padding: 5px 30px;
  background-color: #fff;
  color: #1a242f;
  font-size: 18px;
  font-weight: 600;
}
.all_links .active {
  background-color: #fff;
  font-weight: 500;
  color: #1a242f;
}
