.Casts {
  margin-top: 1.4rem;
}
.Casts h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.casts_list {
  /* border: 2px solid #fff; */
  margin-top: 0.4rem;
  display: flex;
  flex-wrap: wrap;
}
.cast_profile {
  /* border: 2px solid #fff; */
  width: 100px;
  padding: 5px;
}
.cast_profile .cast_pic {
  width: 100px;
}
.cast_profile .cast_title {
  font-size: 0.9rem;
}
